<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Projects</title>
    <link rel="stylesheet" href="/css/viewProjects.css">
</head>
<body>
    <div class="container">
        <h1>All Projects</h1>
        <table>
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Donor</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Area of Action</th>
                    <th>Reporting Period</th>
                    <th>Events Occurred</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach(project => { %>
                    <tr>
                        <td><%= project.projectName %></td>
                        <td><%= project.donor %></td>
                        <td><%= project.startDate.toDateString() %></td>
                        <td><%= project.endDate.toDateString() %></td>
                        <td><%= project.areaOfAction.join(', ') %></td>
                        <td><%= project.reportingPeriod %></td>
                        <td><%= project.totalEvents %></td>
                        <td>
                            <a href="/projects/<%= project.id %>" class="btn-view">View</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/projects/createProject" class="btn-create">Create New Project</a>
    </div>
</body>

</html>